<nav class="navbar navbar-light navbar-expand-md" id="nav-bar">
    <div id="navbar-div" class="container-fluid">
        <a class="navbar-brand" id="nav-bar-text">Db_proj_2022 - {{ pageTitle }}</a>
        <a id="navbar-items" href="/">
            <i class="fa fa-home "></i> Home
        </a>
        <a id="navbar-items" href="/queries">
            <i class="fa fa-question "></i> Queries
        </a>
        <a id="navbar-items" href="/project_page">
            <i class="fa fa-wrench "></i> Projects
        </a>
        <a id="navbar-items" href="/researcher_page">
            <i class="fa fa-address-card"></i> Researchers
        </a>
        <a id="navbar-items" href="/organisation_page">
            <i class="fa fa-male"></i> Organisations
        </a>
        <a id="navbar-items" href="/executive_page">
            <i class="fa fa-book"></i> Executives
        </a>
        <a id="navbar-items" href="/program_page">
            <i class="fa fa-bank"></i> Programs
        </a>
    </div>
</nav>
