{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Programs</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all programs.</p>
                    <a class="btn btn-primary" id="show-btn" href="/programs">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Create Program</h4>
                    <p class="card-text" id="paragraph">Enter a new program into the database.<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/programs/create">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}