{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if results|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Results found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Researcher(s) Name</th>
                                    <th>Researcher(s) Surname</th>
                                    <th># of Projects(Maximum)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in results %}
                                    <tr>
                                        <td> {{ result.res_name }} </td>
                                        <td> {{ result.res_surname }} </td>
                                        <td> {{ result.maximum }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}