{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if projects_researchers|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Results found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Project Title</th>
                                    <th>Researcher ID</th>
                                    <th>Researcher Name</th>
                                    <th>Researcher Surname</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project_researcher in projects_researchers %}
                                    <tr>
                                        <td> {{ project_researcher.p_id }} </td>
                                        <td> {{ project_researcher.Title }} </td>
                                        <td> {{ project_researcher.r_id }} </td>
                                        <td> {{ project_researcher.res_name }} </td>
                                        <td> {{ project_researcher.res_surname }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}